body{
    background-color: rgb(190,25,24);
}

header{
    text-align: center;
}

section.container-md{
    background-color: ghostwhite;
    border-radius: 15px;
}

.border-bottom{
    border-color: grey !important;
    border-width: 1px !important;
}

input.requiredInput{
    border-color: red;
}

.requiredLabel::after{
    color: red;
    content: "*";
}

p.requiredWarning{
    color: red;
}

p.requiredWarning-hidden{
    color: red;
    display: none;
}

legend{
    font-size: large;
}

.hiddenInput{
    display: none;
}

.formCenter{
    text-align: center;
}

#westernBlock{
    display: none;
}

fieldset{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.rounded{
    border-radius: 15px !important;
}

footer{
    background-color: #9a1918;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#agreeLabel{
    color: red;
}

